.main {
  background-color: #f1f4f9;
  height: 100%;
  padding-top: 20px;
  font-family: "SF-Pro-Display";
}

.top__main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.balance {
  color: #899CB1;
  padding: 10px 12px;
  background-color: white;
  border-radius: 48px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  margin-right: 48px;
}

.balance:hover span {
  color: #0024CB;
}

.balance:hover .balance__button {
  background-color: #0024CB;
}

.balance span {
  color: #122945;
  font-weight: 500;
}

.balance__button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#005FF8;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.balance__button span {
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: white;
}

.balance__button span:first-child {
  transform: rotate(0deg);
}

.balance__button span:last-child {
  transform: rotate(-90deg);
}

/* time__ranges */
.time__ranges {
  display: flex;
  align-items: center;
}

.time__ranges span {
  margin: 0 22px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #005FF8;
  cursor: pointer;
}

.time__ranges span:hover > svg{
  fill: #002CFB;
}

.time__ranges span svg {
  width: 16px;
  height: 18px;
  display: block;
  margin-right: 8px;
  fill: #ADBFDF;
}

.time__ranges__img {
  display: block;
  height: 10px;
  width: auto;
  fill: #ADBFDF;
  cursor: pointer;
}

.time__ranges__img:hover {
  fill: #002CFB;
}

.time__ranges__before {
  transform: rotate(90deg);
}

.time__ranges__after {
  transform: rotate(-90deg);
}