.main {
  background-color: #f1f4f9;
  height: 100%;
  padding-top: 20px;
  font-family: "SF-Pro-Display";
}

.main__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}