@font-face {
  font-family: 'SF-Pro-Display';
  src: local('SF-Pro-Display'),
    url('assets/fonts/SF-Pro-Display-Regular.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: local('SF-Pro-Display-Medium'),
    url('assets/fonts/SF-Pro-Display-Medium.otf') format('truetype');
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
button:focus {
  border: none;
  outline: none;
}

button {
  font-family: "SF-Pro-Display";
}

.App {
  display: flex;
  font-family: "SF-Pro-Display";
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.app__right {
  width: 100%;
  /* убирает тень от Header */
  overflow: hidden;
}